$c-text: #313131;
$c-text-lite: #656565;
$c-accent: #F0C441;
$c-accent-dark: #CCAD51;
$c-accent-dark-1: #786F50;
$c-accent-dark-2: #968F78;
$c-accent-lite: #E9DDB5;
$c-dark: #313131;
$c-bg-dark: #262626;

$font-serif: Georgia, serif;
$font-sans: OpenSans, sans-serif;